body{
    width: 300px;
}
.tip{
    text-align: center;
    color: #ff0000;
}
.link{

}
.link span{
    display: block;
    text-align: left;
}
.link-bd{
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
}
.QRCode{
    width: 200px;
    height: 200px;
    margin: 0 auto;
}
footer{
    padding-top: 10px;
    text-align: center;
    color: #999999;
}
footer .separator{
    padding: 0 5px;
}